---
import { getAdocPaths, getAdoc } from "astro-adoc"
import { AsciiDoctor } from "astro-adoc/components"

export async function getStaticPaths() {
  const paths = await getAdocPaths("src/articles")
  console.table(paths.map(({ params }) => params.slug))
  return paths
}

const { slug } = Astro.params

const adoc = getAdoc(`src/articles/${slug}`)
---

<h1>
  {adoc.getTitle()}
</h1>

<AsciiDoctor path={`src/articles/${slug}`} />
